#main-cont
{
    background-color:rgba(185,182,181,0.4);
    margin-top: 7%;
    border-style: solid;
    border-color: rgba(185,182,181,0.1);
}

#main-row
{
    margin-top: 10%;
    margin: 5%;
}
.col-sm-8
{
    height: 200px;
}
